jupyter
deepfly @ https://github.com/NeLy-EPFL/DeepFly3D/archive/twoppp-compatible.tar.gz
deepinterpolation @ https://github.com/NeLy-EPFL/deepinterpolation/archive/adapttoR57C10.tar.gz
numpy
pandas
utils2p @ git+https://github.com/NeLy-EPFL/utils2p.git
ofco @ git+https://github.com/NeLy-EPFL/ofco.git
utils_video @ git+https://github.com/NeLy-EPFL/utils_video.git
df3dPostProcessing @ git+https://github.com/NeLy-EPFL/df3dPostProcessing.git
behavelet
